:root{
    --radius: 30px;
}
*{
    box-sizing: border-box;
}
h1,
h2,
ul{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    margin: 0 auto;
    max-width: 1150px;
    padding-right: 15px;
    padding-left: 15px;
}

.headerContainer{
    background-color: #F8F8F8;
    border-radius: var(--radius);
}

.navigationList{
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigationItem{
    list-style-type: none;
}

.navigationLink{
    position: relative;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}
.navigationLink::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: rgb(0, 0, 0);
}
.navigationLink:hover:before{
    width: 100%;
    transition: 0.4s ease-out;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

article>h2{
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 40px 15px 40px;
}
article>ul{
    margin-left: 60px;
    line-height: 30px;
    font-size: 20px;
}
.aside{
    min-width: 450px;
    margin-right: 20px;
}
.aside > article{
    margin-bottom: 35px;
}
.aside > article:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.person{
    height: 750px;
    background-color: black;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.personPhoto{
    width: 70%;
    border-radius: var(--radius);
}
.personName{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}

.personProfession{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 100px;
}

.contacts{
    height: 350px;
    background-color: #F8F8F8;
    border-radius: 30px;
    transition: 0.3s;
}
.contactsItem{
    padding-bottom: 10px;
}
.contactsList{
    list-style-type: square;
}
.skills{
    height: 350px;
    background-color: #E9E5DC;
    border-radius: var(--radius);
    transition: 0.3s;
}
.skillsList{
    margin-left: 60px;
    line-height: 30px;
    font-size: 20px;
}
.about{
    min-width: 400px;
}
.about > article{
    margin-bottom: 35px;
}
.about > article:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.summary{
    height: 650px;
    background-color: #E9E5DC;
    border-radius: var(--radius);
    transition: 0.3s;
}

.summaryParagraph{
    padding-left: 40px;
    padding-right: 40px;
    line-height: 25px;
    font-size: 20px;
    word-spacing: 3px
}

.courses{
    height: 600px;
    background-color: #F8F8F8;
    border-radius: var(--radius);
    transition: 0.3s;
}

.coursesItem{
    padding-bottom: 10px;
}

.languages{
    height: 200px;
    background-color: black;
    border-radius: var(--radius);
    color: white;
    transition: 0.3s;
}

.languagesHeading{
    border-bottom: 1px solid white;
}

.linksOnMain{
    position: relative;
    text-decoration: none;
    color: rgb(242, 134, 10);
    font-size: 20px;

}
.linksOnMain::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: rgb(242, 134, 10);
}
.linksOnMain:hover:before{
    width: 100%;
    transition: 0.4s ease-out;
}
.redLink{
    color: rgb(255, 0, 0);
}
.redLink:before{
    background-color: rgb(255, 0, 0);;
}

.footerContainer{
    background-color: #F8F8F8;
    border-radius: var(--radius);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.footerParagraph{
    font-size: 20px;
    text-align: center;
}
.footerLink{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 910px){
    .navigationList{
        flex-wrap: wrap;
    }
    .navigationItem{
        padding-left: 10px;
    }
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        margin-top: 5px;
    }
    .aside{
        margin-bottom: 0;
        min-width: 100%;
    }
    .mainInfo{
        min-width: 100%;
    }
    .personPhoto{
        width: 50%;
        border-radius: var(--radius);
    }
    .footerParagraph{
        padding-left: 10px;
        padding-right: 10px;
    }
}